# Google / YouTube OAuth2
# Obten tus credenciales en: https://console.cloud.google.com
GOOGLE_CLIENT_ID=tu_api_aqui
GOOGLE_CLIENT_SECRET=tu_api_aqui
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback

# Spotify OAuth2
# Obten tus credenciales en: https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=tu_api_aqui
SPOTIFY_CLIENT_SECRET=tu_api_aqui
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/auth/spotify/callback
